@using System.ServiceModel.Configuration
@using Microsoft.Ajax.Utilities
@using PepuxFront.Controllers
@model PepuxFront.IpServiceLink.objects
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script>
    var hub = $.connection.vmrHub;
    var hubStart = $.connection.hub.start();
</script>
@(Html.Kendo().Notification()
      .Name("notification")
      .Width("100%")
      .Position(position => position.Top(0).Left(0))
)

@{
    ViewBag.Title = "Index";
}
@(Html.Kendo().Grid<PepuxFront.IpServiceLink.objects>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(product => product.name).Title("Название конференции");
        columns.Bound(product => product.start_time2).Title("Время начала");
        columns.Bound(product => product.lock_path).Title("Блокировка").Encoded(false);
        columns.Bound(i => i.name).Title("Список участников").ClientTemplate(@Html.ActionLink("Участники", "GetParticipants", "Admin", new { confname = "#= name #" }, new { @class = "modal-link btn btn-success" }).ToHtmlString());
    })
    
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .SignalR()
        .AutoSync(true)
        .Events(events => events.Push(@<text>
            function(e) {
                var notification = $("#notification").data("kendoNotification");
                notification.success(e.type);
            }
        </text>))
        .PageSize(10)
        .Transport(tr => tr
            .Promise("hubStart")
            .Hub("hub")
            .Client(c => c
                .Read("read")
                )
            .Server(s => s
                .Read("read")
                ))
        .Schema(schema => schema
            .Model(model =>
            {
                model.Id(m => m.id);
                model.Field(m => m.id).Editable(false);
            })
        )
    )
)
<h2>Index</h2>

